<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}jcdietrich: Quareia Journal{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1><a href="index.html" style="text-decoration: none; color: inherit;">jcdietrich: Quareia Journal</a></h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="tags.html">Tags</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 jcdietrich: Quareia Journal</p>
        <ul>
        <li><a href="https://jcdietrich.github.io/quareia/index.html">online version</a></li>
        <li><a href="file:///Users/jcd/repos/quareia/docs/index.html">local version</a></li>
        <li><a href="https://static1.squarespace.com/static/539af6bee4b0cef061847e36/t/5ad5c040352f5392dfa34259/1523957827412/studyguide-web-PDF.pdf">Apprentice Study Guide</a></li>
        </ul>
        <p style="color: #888; font-size: 0.8em;">updated last: {{ build_time }}</p>
    </footer>
</body>
</html>
