{% extends "base.html" %}

{% block title %}jcdietrich: Quareia Journal{% endblock %}

{% block content %}
    <h2>Recent Posts</h2>
    {% for post in posts %}
        <article>
            <h3>
                <a href="{{ post.url }}" title="created on {{ post.date|replace('-', '/') }}">{{ post.title }}</a>
                {% if post.is_future %}
                <span style="color: red; font-weight: bold; margin-left: 5px;" title="Warning: Contains future date">!</span>
                {% endif %}
            </h3>
            <p class="post-date">{{ post.date }}</p>
            {% if post.image %}
                <a href="{{ post.url }}">
                    <img src="{{ post.image }}" alt="Handwritten note preview" style="max-height: 200px; width: auto;">
                </a>
            {% endif %}
        </article>
        <hr>
    {% endfor %}
{% endblock %}
