{% extends "base.html" %}

{% block title %}{{ title }} - jcdietrich: Quareia Journal{% endblock %}

{% block content %}
    <article>
      <h2 title="created on {{ date|replace('-', '/') }}">
          {{ title }}
          {% if has_future %}
          <span style="color: red; font-weight: bold; margin-left: 5px;" title="Warning: Contains future date">!</span>
          {% endif %}
      </h2>
        <p class="post-date">{{ date }}</p>
        
        {% for entry in entries %}
            {% if entry.image %}
            <div class="handwriting-images">
                <div class="handwriting-image">
                    <img src="{{ entry.image }}" alt="Handwritten note">
                </div>
            </div>
            {% endif %}

            <div class="content">
                {{ entry.content|safe }}
            </div>

            {% if not entry.is_tech %}
                <hr/>
            {% endif %}
        {% endfor %}
    </article>
{% endblock %}
